
//COMMON COLORS
$color-white:#fff !important;

$color-lightgray:#ebebeb !important; 
$color-lightgray2:#fbfafa !important; 
$color-dark:#252525 !important; 
$color-gray2:#c1c1c1 !important; 
$color-black:#000000 !important; 


//THEME USE COLORS
$color-blue:#1d56af !important; 
$color-darkblue:#0a3578 !important; 
$color-green:#03b840 !important; 
$color-orange:#ff9d1c !important; 
$color-gray:#828080 !important; 


$color-pink:#f6a8c6 !important; 
$color-darkpink:#bd4f79 !important; 
$color-maroon:#9e2352 !important; 
$color-cyan:#32a99b !important; 
$color-cyan2:#bdd6d3 !important; 
$color-yellow:#fff200 !important; 
$color-dark:#060504 !important; 
$color-brown:#88694f !important; 

$color-primary:$color-pink; 
$color-secondary:$color-cyan2; 
$color-third:$color-dark;    
$color-fourth:$color-maroon;    
$color-fifth:$color-cyan;    
$color-sixth:$color-yellow;    
