$font-primary:'Fjalla One', sans-serif !important;
$font-secondary:'Open Sans', sans-serif !important;
$font-third:'Niconne', cursive !important;


//FONT WEIGHT 
$light:300;
$medium:500;
$regular:400;
$bold:700; 
$semibold:600;

